@tailwind base;
@tailwind components;
@tailwind utilities;


.dot{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.dot2{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }